<!DOCTYPE html>
<html>
<head>
  <style>
    .centered-button {
      display: flex;
      justify-content: center;
      background-color: yellowgreen;
    }
  </style>
</head>
<body>
  <div class="centered-button">
    <form action="" method="get">
        <button type="submit">logout</button>
    </form>
  </div>
</body>
</html>
